[wm-flappy] {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(107, 143, 241), rgb(10, 30, 80));
    overflow: hidden;
}

.obstaculo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 70px;
    height: 100%;
}
.obstaculo-superior {
    height: 30%;
    width: 100%;
    background-color: rgb(107, 143, 241, 0);
}
.obstaculo-inferior {
    height: 30%;
    width: 100%;
    background-color: rgb(107, 143, 241, 0);
}

.box-player {
    position: absolute;
    margin-left: 25%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 50px;
}

.player {    
    width: 100%;
    margin-top:100px;
    background-color: none;
}
